#IEQ {
    width: 100%;
    height: 300px;
    background-color: #CCC;
    display: flex;
}

#CRUZ {
    width: 200px;
    height: 200px;
    background-color: #F00;
}

.cruz {
    clip-path: polygon(55.7% 0%, 55.7% 28.9%, 89.1% 28.9%, 89.1% 40.3%, 55.7% 40.3%, 55.7% 105.4%, 44.3% 105.4%, 44.3% 40.3%, 10.9% 40.3%, 10.9% 28.9%, 44.3% 28.9%, 44.3% 0%);
}

#CALICE {
    width: 200px;
    height: 200px;
    background-color: #00F;
}

.calice {
    clip-path: polygon(6% 0%, 93.4% 0%, 91.8% 11.7%, 89.2% 19.7%, 84.9% 26.4%, 77.5% 34.7%, 67.5% 44.3%, 64.8% 48.5%, 63.3% 53.9%, 63.2% 58.7%, 64.4% 63.4%, 67.3% 69.2%, 75.4% 82.1%, 58.3% 72.3%, 54.4% 63.7%, 53.3% 57.2%, 53.7% 50.5%, 56% 43.6%, 59.4% 37.9%, 67.8% 28.4%, 75.4% 20.2%, 78.5% 15.3%, 80.6% 9.7%, 18.7% 9.7%, 20.8% 15.3%, 23.7% 20.2%, 31.4% 28.4%, 40.4% 37.9%, 43.6% 43.6%, 45.8% 50.5%, 46.2% 57.2%, 45% 63.7%, 41% 72.3%, 58.3% 72.3%, 75.4% 82.1%, 23.9% 82.1%, 32% 69.2%, 34.9% 63.4%, 36.2% 58.7%, 36.2% 53.9%, 34.7% 48.5%, 32% 44.3%, 21.5% 34.6%, 14.3% 26.4%, 10.3% 19.7%, 7.5% 11.7%);
}

#POMBA {
    width: 200px;
    height: 200px;
    background-color: #FF0;
}

.pomba {
    clip-path: polygon(4.8% 0%, 10.6% 10.9%, 13.6% 15%, 17.9% 19%, 21% 21.4%, 24.8% 23.7%, 40.6% 27.3%, 45.4% 29%, 50.5% 32.9%, 50.5% 29.2%, 51.8% 24%, 55.6% 19.1%, 60.5% 16.8%, 65.4% 16.2%, 70.5% 17.2%, 74.8% 19.1%, 84.8% 26.8%, 90.5% 29.2%, 88% 30.8%, 84.7% 34.4%, 82.2% 39.1%, 81.3% 43.4%, 81.6% 49.1%, 82.7% 59.2%, 82.5% 64.2%, 80.8% 69.3%, 78.6% 73.5%, 74.9% 77.9%, 70.5% 81.5%, 64.2% 84.4%, 57.9% 85.6%, 50.4% 85.8%, 42% 99.5%, 38% 89%, 46.7% 76.4%, 52.7% 77.5%, 58.7% 77.1%, 63.8% 74.9%, 68% 71.4%, 72.2% 64.5%, 73% 58.1%, 72.3% 51.2%, 71.6% 41.2%, 73.4% 34.5%, 76.7% 30.4%, 70.3% 25.2%, 67.6% 24.1%, 64.7% 24.2%, 62.3% 25.1%, 59.6% 27.5%, 58.2% 30.7%, 57.9% 45.2%, 57.3% 47.7%, 54.4% 51.5%, 51.5% 46%, 46.7% 41.1%, 41.1% 38%, 33.6% 36%, 22.8% 33.7%, 16.6% 30.9%, 12% 28%, 7.8% 23%, 8.1% 32.5%, 10.8% 41.6%, 14.1% 48.3%, 18.2% 53%, 22.8% 57.2%, 30.9% 61.3%, 41.7% 63.6%, 19.6% 80%, 38% 89%, 42% 99.5%, 3% 81.2%, 21.8% 67.5%, 15.6% 63.5%, 10.6% 59.1%, 6.6% 54%, 4.1% 49.1%, 1.4% 41.2%, 0% 29.1%, 0.3% 19.2%, 2% 9.1%);
}

#COROA {
    width: 200px;
    height: 200px;
    background-color: #A0F;
}

.coroa {
    clip-path: polygon(0% 15%, 14.1% 21.5%, 27.8% 32.3%, 33.9% 18.9%, 39.7% 8.7%, 46.7% 0%, 53.7% 8.7%, 59.4% 18.7%, 65.5% 32.6%, 80% 21.5%, 93.3% 15.1%, 78.2% 71.6%, 70.4% 61.9%, 80.8% 31.8%, 61.2% 51.6%, 54.3% 30.7%, 46.6% 14.8%, 39.1% 30.7%, 32.4% 50.9%, 12.4% 31.4%, 22.9% 61.9%, 70.4% 61.9%, 78.2% 71.6%, 77.1% 80.6%, 77.1% 90.4%, 16.2% 90.4%, 16.2% 80.6%, 77.1% 80.6%, 78.2% 71.6%, 15.3% 71.6%);
    filter: drop-shadow(10px 10px 10px rgba(50, 50, 0, 0.5));
}